  <nav class="menuDePagina1">
             <ul>
               <li> <a href="/index.html">Inicio</a></li>
                <li><a href="/pages/tiendas.html" >Tiendas</a></li>
                <li><a href="/pages/Servicios.html"">Servicios</a></li>
                <li>
                    <a href="#promociones">Marcas <i class="fa-solid fa-caret-down"></i></a>
                    <ul class="opcionPromocion">
                          <li><a href="#Promo50%">Xiaomi</a></li>
                          <li><a href="#PuntosCompras">Lenovo</a></li>
                          <li><a href="#CuotasSinIntereses">Apple</a></li>
                          <li><a href="#CuotasSinIntereses">Intel</a></li>
                          <li><a href="#CuotasSinIntereses">Samsung</a></li>
                     </ul>
               </li>
                <li> <a href="/pages/CentroAyuda.html">Centro de Ayuda</a></li>
                </ul>
            </nav>
            <nav class="menu2">
                 <ul>
                    <h1><a href="/index.html"> <img class="LogoMarca" src="/img/LogoMarca.png" height="50px" width="50px">TechJara</a></h1>
                    <li>
                         <input type="checkbox" id="menu-burger1">
                         <label for="menu-burger1" class="Burger1"><i class="fa-solid fa-bars"></i>Categorias</label>
                         <ul class="SubmenuCategorias">
                            <li><a href="">Celulares</a></li>
                            <li><a href="">Cargadores</a></li>
                            <li><a href="">Scooters</a></li>
                            <li><a href="">Componentes PC</a></li>
                            <li><a href="">Laptops</a></li>
                            <li><a href="">Consolas</a></li>
                            <li><a href="">Software</a></li>
                            <li><a href="">Perifericos</a></li>
                            <li><a href="">Monitores e impresoras</a></li>
                           <li><a href="">Conectividad y redes</a></li>
                           <li><a href="">Tv y SmartTV</a></li>
                         </ul>
                    </li>
                    <li class="barraBuscador"><input type="text" id="buscador" placeholder="busca tus componentes"></li>
                    <li><a href="">Arma tu pc</a></li>
                    <li class="usuario">Hola, Usuario  <i class="fa-solid fa-caret-down"></i>
                        <ul class="menuInicioSesion">
                          <li><a href="/pages/Registrarse.html">Registrarse</a></li>
                          <li><a href="/pages/IniciarSesion.html">Iniciar sesion</a></li>
                        </ul>
                    </li>
                    <li class="carrito-compras"><i class="fa-solid fa-cart-shopping"></i></li>

                 </ul>
            </nav>        